<h1>Eat-Da-Burger!</h1>

<main>
  <div class="container">
    <div class="burger-before">
      <div class="col s6">
        {{#each burgersNotDevoured}} {{#unless this.devoured}}
        <div>
          <form action="/burgers/{{this.id}}?_method=PUT" method="POST">
            {{indexing @index}}.
            <button type="submit" class='burgerAvailable'> {{this.burger_name}} (Click to Consume)</button>
          </form>
        </div>
        {{/unless}} {{/each}}
      </div>

      <div class="burger-after">
        {{#each burgersDevoured}} {{#if this.devoured}}
        <div class='burgerEaten'>
          <div>
            {{indexing @index}}. {{this.burger_name}}
          </div>
        </div>
        {{/if}} {{/each}}
      </div>
    </div>
  </div>
</main>

<div class="submit-row">
  <div class="col s12">
    <form action="/burgers" method="POST">
      <input type="text" id="name" name="burger_name" placeholder="">
      <button type="submit" class="addBurgerButton">Submit</button>
    </form>
    <h5>"Enter a burger you want to eat and hit the submit button"
      <h5>
  </div>
  <div>
    <a href="https://github.com/zoradox/burger">Github Source</a>
  </div>
</div>